<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>categories</title>
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/styles/nav.css}">
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
		<div th:replace="fragments/navbar :: navbar"></div>

        <h2 class="center_text">List of categories</h2>

		<a th:href="@{InsertCategory}">
			<button class="button button_style" name="CreateCategory"/> Create Category </button>
		</a>
		<br><br>

        <table id="customers">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="category : ${categories}">
					<td th:text="${category.id}"></td>
					<td th:text="${category.name}"></td>
					<td><a th:href="@{EditCategory?id={id}(id=${category.id})}"><img class="edit_image" th:src="@{/images/edit.png}"></a></td>
					<td><a th:href="@{DeleteCategory?id={id}(id=${category.id})}"><img class="edit_image" th:src="@{/images/delete.png}"></a></td>
				</tr>
			</tbody>
        </table>	
	</body>
</html>
