<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>edit user</title>
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
		<h2 class="center_text">Edit category: [[|${category.name}|]]</h2>

		<form action="#" th:action="@{/EditCategory}" th:object="${category}" method="post">
			<div class="autocomplete" style="width:300px">
				<input type="hidden" id="id" name="id" th:field="${category.id}"><br><br>
            </div>
			
			<div class="autocomplete" style="width:300px">
                <label for="name">Name</label><br>
				<input type="text" id="name" name="name" th:field="${category.name}"><br><br>
            </div>

			<input class="button button_style" type="submit" value="Submit" name="Submit"/> <br><br>
		 	<input class="button button_style" type="reset" value="Reset" name="Reset"> <br><br>
    	</form>
	</body>
</html>
