<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	</head>
    <body>
		<div th:replace="fragments/navbar :: navbar"></div>

		<div class="row">
		  <div class="column">
			<div class="card">
			  <img class="card_image" src="images/camera_images/camera1.jpg" alt="Avatar" style="width:100%">
			  <h3>Card 1</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>

		  <div class="column">
			<div class="card">
				<img class="card_image" src="images/camera_images/camera2.jpg" alt="Avatar" style="width:100%">
			  <h3>Card 2</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>
		  
		  <div class="column">
			<div class="card">
				<img class="card_image" src="images/camera_images/camera3.jpg" alt="Avatar" style="width:100%">
			  <h3>Card 3</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>
		  
		  <div class="column">
			<div class="card">
			  <img class="card_image" src="img_avatar2.png" alt="Avatar" style="width:100%">
			  <h3>Card 4</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>
		  
		  <div class="column">
			<div class="card">
			  <img class="card_image" src="img_avatar2.png" alt="Avatar" style="width:100%">
			  <h3>Card 1</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>

		  <div class="column">
			<div class="card">
			  <img class="card_image" src="img_avatar2.png" alt="Avatar" style="width:100%">
			  <h3>Card 2</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>
		  
		  <div class="column">
			<div class="card">
			  <img class="card_image" src="img_avatar2.png" alt="Avatar" style="width:100%">
			  <h3>Card 3</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>
		  
		  <div class="column">
			<div class="card">
			  <img class="card_image" src="img_avatar2.png" alt="Avatar" style="width:100%">
			  <h3>Card 4</h3>
			  <p>Some text</p>
			  <p>Some text</p>
			</div>
		  </div>
		</div>
	</body>
</html>
